// Шрифт по-умолчанию
$fontFamily: "Montserrat", sans-serif;
$fontSize: 18;

// Сетка
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1280;
$md1: $maxWidthContainer + 12;
$md2: 1280;
$md3: 1100;
$md4: 680;
$md5: 520;

// Цвета
$colorText: #1D1D1D;
$colorWhite: #FFFFFF;
$colorBrand: #D0171C;
$colorBrand2: #ff0008;

$colorBgD: #CDD7E5;
$colorBgL: #F5F7FA;
$colorBorder: #D9E2ED;
$colorDarkBg: rgba(0, 0, 0, 0.3);

// Градиенты

// Тени

// Фильтры

// Закругления
$radiusMain: 2px;
